nav ul a,
nav .brand-logo,
.footer-copyright .container{
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

body {
    background-color: #fcfcfc;
}

table tbody td:nth-child(2){
  text-align: right;
}